<section id="pricing-1790">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-flex">
        <span class="cs-topper">Tarifs</span>
        <h2 class="cs-title">Choisissez votre formule</h2>
      </div>
      <a href="" class="cs-button-solid">Réservez votre séance d'essai</a>
    </div>
    <div class="cs-wrapper">
      <ul class="cs-ul">
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
            alt="checkmark"
            width="24"
            height="24"
          />
          Accès à toutes les salles Arnold Fitness
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
            alt="checkmark"
            width="24"
            height="24"
          />
          Espace musculation et cardio
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
            alt="checkmark"
            width="24"
            height="24"
          />
          Cours collectifs et programmes inspirés d’Arnold
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
            alt="checkmark"
            width="24"
            height="24"
          />
          Séances de bronzage et thérapie par lumière rouge
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
            alt="checkmark"
            width="24"
            height="24"
          />
          Pass invités et bouteilles d’eau inclus
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
            alt="checkmark"
            width="24"
            height="24"
          />
          Cours de techniques de musculation
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
            alt="checkmark"
            width="24"
            height="24"
          />
          Vestiaires sécurisés
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
            alt="checkmark"
            width="24"
            height="24"
          />
          Douches
        </li>
      </ul>
      <ul class="cs-card-group">
        <li class="cs-item">
          <span class="cs-package">Pass Découverte</span>
          <div class="cs-flex-wrapper">
            <span class="cs-price">49,99 €</span>
            <span class="cs-frequency"> /Mois </span>
          </div>
          <p class="cs-item-text">Entrainement en autonomie.</p>
          <a href="" class="cs-button-solid cs-price-button">Inscription</a>
        </li>
        <li class="cs-item cs-popular">
          <span class="cs-package">Pass Pro</span>
          <div class="cs-flex-wrapper">
            <span class="cs-price">99,99 €</span>
            <span class="cs-frequency"> /Mois </span>
          </div>
          <p class="cs-item-text">Jusqu'a 4 seances coachées par mois.</p>
          <a href="" class="cs-button-solid cs-price-button">Inscription</a>
        </li>
        <li class="cs-item">
          <span class="cs-package">Pass Olympia</span>
          <div class="cs-flex-wrapper">
            <span class="cs-price">149,99 €</span>
            <span class="cs-frequency"> /Mois </span>
          </div>
          <p class="cs-item-text">Accès illimité à la salle et aux services.</p>
          <a href="" class="cs-button-solid cs-price-button">Inscription</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<style lang="less">
  /*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #pricing-1790 {
      padding: var(--sectionPadding);
      padding-bottom: 10vw;
      background-color: #fff;
      position: relative;
      overflow: hidden;
      z-index: 1;

      .cs-container {
        width: 100%;
        max-width: (1280/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
      }

      .cs-content {
        /* set text align to center if content needs to be center aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
        position: relative;
      }

      .cs-flex {
        display: flex;
        flex-direction: column;
      }

      .cs-title {
        margin: 0;
      }

      .cs-wrapper {
        width: 100%;
        max-width: (1280/16rem);
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .cs-ul {
        width: 100%;
        margin: (24/16rem) 0 0 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: (12/16rem);
      }

      .cs-li {
        font-size: var(--bodyFontSize);
        list-style: none;
        line-height: 1.5em;
        width: 100%;
        max-width: (349/16rem);
        color: var(--bodyTextColor);
        display: flex;
        justify-content: flex-start;
        /* push icon top the top so if the list item goes to two lines the icon stays at the top */
        align-items: flex-start;
        gap: (8/16rem);
      }

      .cs-icon {
        width: (18/16rem);
        height: auto;
        display: block;
      }

      .cs-card-group {
        width: 100%;
        max-width: (912/16rem);
        margin: (48/16rem) 0 0 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .cs-item {
        text-align: center;
        list-style: none;
        width: 100%;
        margin: 0;
        /* 32px - 40px top *
            /* 16px - 32px left & right */
        padding: clamp(2rem, 2vw, 2.5rem) clamp(1rem, 1.5vw, 2rem);
        background-color: #ffffff;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;

        &.cs-popular {
          background-color: #1a1a1a;
          /* 48px - 64px top & bottom */
          /* 16px - 32px left & right */
          padding: clamp(3rem, 6vw, 4rem) clamp(1rem, 1.5vw, 2rem);

          .cs-package,
          .cs-frequency,
          .cs-item-text {
            color: var(--bodyTextColorWhite);
            opacity: 0.9;
          }

          .cs-price {
            color: var(--bodyTextColorWhite);
          }

          .cs-button-solid {
            transition: color 0.3s;
            &:hover {
              color: var(--primary);
            }
            &:before {
              background-color: #fff;
            }
          }
        }
      }

      .cs-package {
        /* 13px - 16px */
        font-size: clamp(0.8125rem, 1.4vw, 1rem);
        font-weight: 700;
        line-height: 1.2em;
        text-align: inherit;
        text-transform: uppercase;
        margin: 0 0 (4/16rem) 0;
        color: var(--bodyTextColor);
        display: block;
      }

      .cs-flex-wrapper {
        width: 100%;
        margin: 0 0 (24/16rem) 0;
        padding: 0 0 (24/16rem);
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        gap: (8/16rem);
        position: relative;
        z-index: 1;

        &:after {
          content: "";
          width: 100%;
          height: 1px;
          background: linear-gradient(
            90deg,
            rgba(232, 232, 232, 0.2) 0%,
            #e8e8e8 53.78%,
            rgba(232, 232, 232, 0.2) 100%
          );
          opacity: 1;
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
        }
      }

      .cs-price {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        margin: 0;
        color: var(--headerColor);
      }

      .cs-frequency {
        font-size: (16/16rem);
        line-height: 1.5em;
        text-align: inherit;
        margin: 0;
        color: var(--bodyTextColor);
        display: block;
      }

      .cs-item-text {
        font-size: (16/16rem);
        line-height: 1.5em;
        text-align: inherit;
        margin: 0 0 auto;
        color: var(--bodyTextColor);
      }

      .cs-button-solid {
        font-size: (16/16rem);
        font-weight: 700;
        /* 46px - 56px */
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        text-align: center;
        text-decoration: none;
        min-width: (150/16rem);
        margin: (32/16rem) 0 0 0;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        padding: 0 (24/16rem);
        color: #fff;
        background-color: var(--primary);
        border-radius: (4/16rem);
        display: inline-block;
        position: relative;
        z-index: 1;

        &:before {
          content: "";
          width: 0%;
          height: 100%;
          background: #000;
          opacity: 1;
          border-radius: (4/16rem);
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          transition: width 0.3s;
        }

        &:hover {
          &:before {
            width: 100%;
          }
        }
      }

      .cs-graphic {
        width: 100%;
        min-width: (1920/16rem);
        height: auto;
        position: absolute;
        bottom: (-16/16rem);
        left: (0/16rem);
        z-index: -1;
      }

      .cs-dark {
        display: none;
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #pricing-1790 {
      .cs-container {
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
      }

      .cs-ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch;
      }

      .cs-card-group {
        flex-direction: row;
        align-items: stretch;
      }

      .cs-item {
        height: auto;
        margin: (24/16rem) 0;

        &.cs-popular {
          margin: 0;
        }
      }
    }
  }

  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #pricing-1790 {
      .cs-ul {
        width: 30%;
        display: flex;
      }

      .cs-wrapper {
        flex-direction: row;
        gap: (20/16rem);
      }

      .cs-card-group {
        margin: 0;
      }

      .cs-item {
        min-height: (400/16rem);
      }
    }
  }
</style>
